<!-- <p>quotes-form works!</p> -->
<div id="appender">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <form (ngSubmit)='submitQuotes()' #quoteForm='ngForm'>
  
            <div class="form-group">
              <h6><em>"Share your quotes with the world and become a master in words with few key steps" </em></h6>

              
              <label for="publisher">Publisher</label>
              <input type="text" class="form-control" id="publisher" [(ngModel)]="newQuotes.publisher" name="publisher" #publisher="ngModel" required>
  
              <div [hidden]="publisher.valid || publisher.pristine" class="alert alert-primary">
                <p> Input is Required</p>
  
              </div>
            </div>
  
            <div class="form-group">
              <label for="author">author</label>
              <input type="text" class="form-control" id="author" [(ngModel)]="newQuotes.author" name="author" #author="ngModel" required>
  
              <div [hidden]="author.valid || author.pristine" class="alert alert-primary">
                <p> Input is Required</p>
  
              </div>
            </div>
  
            <div class="form-group">
              <label for="quote">Quote</label>
              <textarea class="form-control" id="description" [(ngModel)]="newQuotes.quote" name="quote" #quote="ngModel" required></textarea>
              <div [hidden]="quote.valid || quote.pristine" class="alert alert-primary">
                <p> input is Required</p>
  
              </div>
  
            </div>
  
            <button type="Submit" class="btn btn-success btn-lg">Add Quote</button>

            <div class="container-fluid">
              
              
                <div class="row">
                  
                    <div class="col-md-12">
                        <h4><em>Reach us by clicking the icon</em></h4>
                        <div class="socialbox m1"><h3><i class="fa fa-share-alt"></i></h3> 
                         <div class="a a1"> <a href="https://www.facebook.com/pages/creation/"><i class="fa fa-facebook"></i></a></div>
              
                            <div class="a c1"><a href="https://www.instagram.com/accounts/emailsignup/?hl=en"><i class="fa fa-instagram"></i></a></div>
                            <div class="a b1"><a href=""><i class="fa fa-linkedin"></i></a></div>
                            <!-- <div class="a d1"><a href=""><i class="fa fa-youtube"></i></a></div> -->
                        </div>
                           
                       
                    </div>
                          <div class="col-md-6 prime">
                    <div class="circle"><i class="fa fa-phone"></i></div>
                   </div>
                   
                    <div class="col-md-6 prime">
                    <!-- <div class="circle2"><i class="fa fa-phone"></i></div> -->
                   </div></div>
                   
                   </div>
          </form>
        </div>
      </div>
  
  
    </div>
  </div>
  </div>
