<!-- <p>quotes works!</p> -->
<div class="container-fluid">
  <div id="home" class="container-fluid">
    <h2>BRAINY-QUOTES MASTERS</h2>
    <h5><strong><em>"Positive Mind <br> Positive Vibes <br> Positive Life  "</em></strong></h5>
  </div>
</div>
<app-quotes-form (addQuotes)="addNewQuote($event)"></app-quotes-form>
<div id="next" class="container-fluid">
  <div class="row">
    <div class="col4 inner-left">
      
      <h4 id="pad">UPDATED QUOTES</h4>
      <div *ngFor="let quotes of quotes;let i = 'index'">
        <ul id="quotes">

          <li>{{quotes.publisher}} posted on {{quotes.completeDate|date}}</li>
          <app-quotes-detail [quotes]='quotes' (isComplete)='deleteQuote($event,i)'></app-quotes-detail>
        </ul>

    </div>

  </div>
</div>
