#home{
  background-image:url('https://images.unsplash.com/photo-1501369343204-a53c9cd517bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 18%;
  text-align: center;

}
ul{
  color:white;
}
#next{
  background-image:url('https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg?cs=srgb&dl=cool-wallpaper-dawn-hd-wallpaper-66997.jpg&fm=jpg');
  /* height: 99vh; */
  /* width:100%; */
  background-repeat: no-repeat;
  background-size:cover;

}
#quotes{
  border: 1px solid white;
  padding: 25px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 100px;
  
}
#quotes:hover{
  background-color:grey;
  opacity:0.8;
}
#one {
  background-color: 	#008080;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#pad {
  padding-top: 60px;
  text-align:center;
  font-size: 43px;
  color:white;
  text-decoration: underline solid gold;

}
h2{
  font-family: italics;
  font-style: oblique;
  color: gold;
}
#home  h5 {
  font-family: 'Amatic SC', cursive;
  color:white;
}
h2 , h5{
  animation: mymove 5s infinite;
  padding-top:9%;
}
@keyframes mymove {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-55px);
  }
  60% {
    transform: translateY(-45px);
  }
}